
.top {
	padding: 25px 0 0;

	display: flex;
	justify-content: space-evenly;
	column-gap: 10px;

	font-family: var(--font-2);
	color: var(--color-main-2);

	.text {
		width: 700px;

		.title {
			margin-top: min(49px, 4.47vw - 15.42px);
			text-transform: uppercase;
			font-family: var(--font-1);
			font-size: min(40px, 1.5vw + 18.4px);
		}
		.note {
			margin-top: min(32px, 2.1vw - 1.68px);
			font-size: 20px;
		}

		.title[hidden],
		.note[hidden] {
			display: block;
			visibility: hidden;
		}
	}

	.image {
		width: 553px;
		aspect-ratio: 1.4986;
		
		background-image: url("./images/image.svg");
		background-size: contain;
		background-repeat: no-repeat;
	}


/* <=1440 */
@media (max-width: 1440px) {
	padding: 25px 60px 0;

	justify-content: space-between;
}
	

/* <=910 */
@media (max-width: 910px) {
	padding: 25px 20px 0;

	.text .note {
		width: 360px;
		font-size: 18px;
	}
}

/* <=640 */
@media (max-width: 640px) {
	padding: 10px 0 0;
	margin: 0 auto;
	width: 375px;

	flex-direction: column;
	align-items: center;

	.text {
		width: 100%;
		padding-left: 14px;

		.title {
			font-size: 28px;
		}
		.note {
			margin-top: 20px;
		}

		.title[hidden],
		.note[hidden] {
			display: none;
		}		
	}

	.image {
		margin-top: 21px;
		width: 350px;
		height: 234px;
	}
}

}

