
:root {
	--color-main-1: #029491;
	--color-main-2: #000;
	--color-main-3: #fff;

	--color-extra-1: #ffb64f;
	--color-extra-2: #7ce3e1;
	--color-extra-3: #5970ff;
	--color-extra-4: #999;
	--color-extra-5: #8ac540;
	--color-extra-6: #ff5959;

	--font-1: "Rubik", sans-serif;
	--font-2: "Inter", sans-serif;
}
